.header {
  font-family: cursive;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  margin: 0 40px;
}

.nav {
  display: flex;
  align-items: center;
}

.navList {
  display: inline-flex;
  list-style: none;
  gap: 2rem;
}

.navList a {
  display: inline-flex;
  color: var(--foreground);
  font-weight: bold;
  opacity: 0;
  animation: anim-top .5s ease forwards;
  animation-delay: calc(.2s * var(--i));
}

.navList a:hover {
  color: var(--theme-font-color);
}

.header:first-child {
  color: var(--theme-font-color);
  font-weight: bolder;
}

.themePicker {
  position: relative;
  display: inline-flex;
  opacity: 0;
  animation: anim-top .5s ease forwards;
  animation-delay: 1.2s;
}

.themePicker i {
  margin-left: 20px;
  font-size: 22px;
  margin-top: 2px;
}

.themePickerContent {
  /* display: none; */
  position: absolute;
  top: 25px;
  left: 10px;
  background-color: var(--background);
  width: 50px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 1;
}

.themePicker:hover .themePickerContent {
  display: block;
}

.themePickerContent div {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 5px;
  color: transparent;
  user-select: none;
}

.theme1 {
  background-color: #754ef9;
}

.theme2 {
  background-color: #16ff00;
}

.theme3 {
  background-color: #0077fe;
}

.theme4 {
  background-color: orange;
}

.hero {
  height: calc(100vh - 70px);
  color: var(--foreground);
  /* text-align: center; */
  padding: 20px;
  /* background: url('../../public/portfolio_bg.avif') no-repeat center center/cover; */
  background-attachment: fixed;
  background-color: var(--primary-color);
}

.hero p {
  width: 500px;
  margin-bottom: 15px;
}

.quickLinks i {
  width: 35px;
  height: 35px;
  font-size: 22px;
  border: 1px solid var(--theme-font-color);
  border-radius: 25px;
  padding: 6px;
  color: var(--theme-font-color);
  margin-right: 20px;
}

.quickLinks i:hover {
  border: 1px solid var(--theme-font-color);
  color: var(--primary-color);
  background-color: var(--theme-font-color);
}

.styledContainerLeft {
  position: absolute;
  width: 120px;
  height: 120px;
  background-color: var(--theme-font-color);
  left: -60px;
  animation: anim-left .5s ease forwards;
  animation-delay: calc(.2s * var(--i));
  transform: rotate(45deg);
  top: 150px;

  /* position: absolute;
    width: 422px;
    height: 233px;
    background-color: var(--theme-font-color);
    right: 52px;
    transform: rotate(45deg);
    top: -161px; */
}

.styledContainerRight {
  position: absolute;
  width: 250px;
  height: 250px;
  background-color: var(--theme-font-color);
  right: -150px;
  transform: rotate(45deg);
  top: 300px;
  /* animation: anim-right .5s ease forwards;
  animation-delay: calc(.2s * var(--i)); */
}

.container {
  display: flex;
  height: 90%;
  max-width: 90%;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: center;
  margin-left: 40px;
  animation: anim-right 1s ease forwards;
  animation-delay: .1s;
}

.container > div {
  text-align: left;
  width: 100%;
}

.mainTitle {
  font-size: 32px;
}

.textAnimeContainer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 15px;
  font-weight: bolder;
}

.cta {
  display: inline-block;
  margin-top: 1.5rem;
  padding: 0.8rem 1.5rem;
  background-color: var(--theme-font-color);
  color: var(--background);
  border-radius: 25px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 15px;
  border: 1px solid var(--theme-font-color);
  /* box-shadow: 0 0 15px var(--theme-font-color); */
  animation: anim-left 1s ease forwards;
  animation-delay: .1s;
}

.cta:hover {
  color: var(--theme-font-color);
  background-color: var(--background)
}

.about {
  padding: 4rem 1rem;
  background-color: var(--secondary-color);
  text-align: center;
  color: var(--secondary-font-color);;
}

.about h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.about p {
  max-width: 600px;
  margin: 0 auto;
  font-size: 1.1rem;
  line-height: 1.6;
}

.projects {
  padding: 4rem 1rem;
  text-align: center;
  color: #3b4477;
  background-color: var(--primary-color);
}

.projects h2 {
  font-size: 2rem;
  color: #3b4477;
  margin-bottom: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
}

.card {
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: left;
  /* box-shadow: 0 4px 8px 0 rgb(247, 245, 245); */
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%;
  height: 250px;
  display: block;
}

.card h3 {
  font-size: 1.5rem;
  margin: 1rem;
}

.card p {
  margin: 0 1rem 1rem;
  color: #666;
  line-height: 1.4;
}

.hyperlink {
  color: var(--theme-font-color);
  margin: 0 1rem 1rem;
}

.contact {
  padding: 4rem 1rem;
  background-color: var(--secondary-color);
  text-align: center;
}

.contact h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: var(--secondary-font-color);;
}

.contact p {
  margin: 0 auto;
  font-size: 1.1rem;
  line-height: 1.6;
  color: var(--secondary-font-color);;
  text-align: left;
  line-height: 4rem;
}

.contactContainer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
}

.contactSubContainer {
  display: block;
  width: 45%;
}

.contactSubContainer i {
  display: flex;
  align-items: center;
  width: 20px;
  height: 64px;  /*20px*/
  margin-right: 10px;
  color: var(--theme-font-color);
}

.contactSubContainer p {
  display: flex;
  align-items: flex-start;
}

.form {
  max-width: 500px;
  margin: 0 auto;
}

.form input,
.form textarea {
  width: 100%;
  padding: 0.8rem;
  margin: 0.5rem 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: var(--secondary-font-color);;
}

.form textarea {
  min-height: 150px;
}

.form button {
  background-color: #fff;
  color: var(--theme-font-color);
  border: 1px solid var(--theme-font-color);
  padding: 0.8rem 1.5rem;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 25px;
}

.form button:hover {
  color: var(--background);
  background-color: var(--theme-font-color);
}

.footer {
  background: var(--theme-font-color);
  color: var(--background);
  padding: 1rem;
  text-align: center;
}

.footer p {
  margin: 0;
  font-size: 0.9rem;
}

@keyframes anim-top {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes anim-bottom {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes anim-left {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes anim-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}